body{
    width: 1000px;
    font-family: 'Roboto', sans-serif;
    
}

nav{
    box-sizing: border-box;
    width: 200px;    
    display: inline-block;
    vertical-align: top;
}

aside{
    display: inline-block;
    box-sizing: border-box;
    width: 800px;
    border-left: 1px solid black;
    padding: 14px;
}